
<div class="h-screen w-screen flex justify-center items-center">
  <form (ngSubmit)=login() #f="ngForm" class="flex flex-col w-1/4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput name="username" type="text" ngModel>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput name="password" type="password" ngModel>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">Connexion</button>
  </form>
</div>




