<app-message-banner></app-message-banner>

<div class="mt-4 flex flex-col gap-2">
  <h1 class="text-2xl">Accueil</h1>
  <p>
    Veuillez aller sur la page Messages, ajouter un message avec statut "activé" puis revenir sur la page d'accueil afin de voir le message.<br/><br/>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non posuere lectus. Nulla vitae cursus enim. Quisque laoreet orci vitae ante aliquam laoreet. Aenean a finibus lectus, vitae pellentesque odio. Etiam sagittis aliquet pretium. Morbi eleifend dictum metus, pretium aliquet nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus vel porttitor magna, ut ultricies neque.
    Suspendisse lobortis ut velit gravida semper. In dapibus tristique neque, sed commodo velit posuere id. Pellentesque auctor malesuada quam, sit amet pharetra magna tristique eget. Pellentesque sed augue eget tortor tempor varius id sed turpis. Nulla facilisi. Aliquam urna metus, pulvinar eget tortor sit amet, tempus tempor quam. Vestibulum viverra, nibh nec auctor imperdiet, nibh quam porttitor ante, sed aliquet purus mauris lobortis sapien. Mauris in metus consectetur, mollis erat eget, porta leo. Sed a efficitur massa. Quisque rutrum sapien eget nunc posuere, eu vulputate mi pretium. Ut leo metus, molestie ut malesuada et, dictum eu velit. Cras eu leo quis libero laoreet viverra. Pellentesque maximus nibh sed fringilla placerat.
  </p>

</div>




